<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Webpack App</title>
  </head>
  <body>
  <script type="text/javascript" src="public/js/inline.chunk.js"></script><script type="text/javascript" src="public/js/shared.chunk.js"></script><script type="text/javascript" src="public/js/entryentryAForPackagecore.chunk.js"></script></body>
</html>